@model Blog.DAL.Konu

@{
    ViewBag.Title = "Yeni Konu Ekle";
    Layout = "~/Views/Shared/Yonetim.cshtml";
}

<div class="listarka">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Yeni Konu Ekle</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-12">
                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Başlık</span>
                                </div>
                                @Html.EditorFor(model => model.Baslik, new { htmlAttributes = new { @class = "form-control", @placeholder = "Başlık", @aria_label = "Başlık", required = "" } })
                                @Html.ValidationMessageFor(model => model.Baslik, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Resim</span>
                                </div>
                                @Html.EditorFor(model => model.Resim, new { htmlAttributes = new { @class = "form-control", @placeholder = "Resim", @aria_label = "Resim", required = "" } })
                                @Html.ValidationMessageFor(model => model.Resim, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Kategori</span>
                                </div>
                                <select class="form-control" id="KategoriID" name="KategoriID">
                                    @using (Blog.DAL.BlogEntities db = new Blog.DAL.BlogEntities())
                                    {
                                        foreach (var item in db.Kategori.ToList())
                                        {
                                            <option value="@item.ID">@item.Ad</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Öne Çıkarma</span>
                                </div>
                                <select class="form-control" id="OneCikar" name="OneCikar">
                                    <option value="0">One Cikarmasın</option>
                                    <option value="1">Öne Çıkarsın </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <div class="col">
                            <h4>İçerik</h4>
                            <div class="input-group">
                                @Html.TextAreaFor(model => model.Icerik, new { htmlAttributes = new { @class = "form-control", @placeholder = "İçerik", @aria_label = "İçerik", required = "" } })
                                @Html.ValidationMessageFor(model => model.Icerik, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-secondary">Ekle</button>
            </div>
        </div>
    }
    <hr />
    <p>@Html.ActionLink("Kategori Listesine Dön", "Index", new { @area = "" }, new { @class = "btn btn-dark" })</p>
</div>

<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
<script type="text/javascript">
    tinymce.init({
        selector: '#Icerik',
        theme: 'modern',
        width: 1100,
        height: 400,
        plugins: [
            'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
            'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
            'save table contextmenu directionality emoticons template paste textcolor'
        ],
        content_css: 'css/content.css',
        toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
    });
</script>