
@{
    Layout = "~/Views/Shared/Genel.cshtml";
}

@using (Blog.DAL.BlogEntities db = new Blog.DAL.BlogEntities())
{
    if (ViewBag.Konu.Count > 0) { 
        <h3>@ViewBag.Title kategorisi için bulunan konular:</h3>
    }
    else
    {
        <h3>@ViewBag.Title kategorisine ait bir konu bulunamadı.</h3>
    }

    foreach (var konu in ViewBag.Konu)
    {

        <div class="makale">
            <div class="card mb-3">
                @if (@konu.Resim != null)
                {
                    <img class="card-img" src="@konu.Resim" alt="@konu.Baslik">
                }
                <div class="card-body">
                    <h5><a href="konu?id=@konu.ID">@konu.Baslik</a></h5>
                    <hr />
                    <p class="card-text">
                        @{
                            string htmlsiz = Blog.Filters.HTMLTemizle.Replace(konu.Icerik);

                            if (htmlsiz.Length >= 500)
                            {
                                @Html.Raw(htmlsiz.Substring(0, 500));
                            }
                            else
                            {
                                @Html.Raw(htmlsiz);
                            }
                        }
                    </p>
                </div>
                <div class="card-footer">
                    <p class="card-text float-left text-muted">
                        @konu.Tarih.Day/@konu.Tarih.Month/@konu.Tarih.Year tarihinde @konu.Uye.Ad @konu.Uye.Soyad tarafından yazıldı.
                    </p>
                    @Html.ActionLink("Devamını oku...", "Konu", "Home", new { id = konu.ID }, new { @class = "btn btn-primary float-right" })
                </div>
            </div>
        </div>
    }
}