@model Blog.DAL.Konu
@{
    Layout = "~/Views/Shared/Genel.cshtml";
}

<div class="card mb-3">
    <img class="card-img-top" src="@Model.Resim" alt="@Model.Baslik">
    <div class="card-body">
        <h5 class="card-title">@Model.Baslik</h5>
        <hr />
        <p class="card-text">@Html.Raw(Model.Icerik)</p>
    </div>
    <div class="card-footer text-muted">
        @Model.Tarih.Day/@Model.Tarih.Month/@Model.Tarih.Year tarihinde @Model.Uye.Ad @Model.Uye.Soyad tarafından yazıldı.
    </div>
</div>