@{
    var uye = (Blog.DAL.Uye)Session["giris"];
    ViewBag.UyeAd = uye.Ad;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - Kişisel Blog</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="admin navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="~/Images/logo.png" class="logo" />
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#genel" aria-controls="genel" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="genel">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Ana sayfa", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                        <span class="sr-only">(current)</span>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        @Html.ActionLink("Yönetim Paneli", "Index", "Admin", new { area = "" }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Hoşgeldin, @ViewBag.UyeAd</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Çıkış", "Index", "Cikis", new { area = "" }, new { @class = "nav-link" })
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="admin-alt navbar navbar-expand-lg navbar-dark bg-secondary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#yonetim" aria-controls="yonetim" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="yonetim">
                <ul class="navbar-nav mr-auto justify-content-center">
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="kategoriyonetimi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Kategori Yönetimi
                            </button>
                            <div class="dropdown-menu" aria-labelledby="kategoriyonetimi">
                                @Html.ActionLink("Kategori Listesi", "Index", "KategoriYonetimi", new { @area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Yeni Kategori Ekle", "Create", "KategoriYonetimi", new { @area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="uyeyonetimi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Üye Yönetimi
                            </button>
                            <div class="dropdown-menu" aria-labelledby="uyeyonetimi">
                                @Html.ActionLink("Üye Listesi", "Index", "UyeYonetimi", new { @area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Yeni Üye Ekle", "Create", "UyeYonetimi", new { @area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-dark dropdown-toggle" type="button" id="konuyonetimi" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Konu Yönetimi
                            </button>
                            <div class="dropdown-menu" aria-labelledby="konuyonetimi">
                                @Html.ActionLink("Konu Listesi", "Index", "KonuYonetimi", new { @area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Yeni Konu Ekle", "Create", "KonuYonetimi", new { @area = "" }, new { @class = "dropdown-item" })
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Content/jquery-3.3.1.min.js"></script>
    <script src="~/Content/bootstrap.min.js"></script>
</body>
</html>